{% extends 'base.html.twig' %}

{% block title %}{{ parent()}} | Inscription{% endblock %}

{% block body %}
    <h1>Register</h1>

    <div>
        {{ form_start(registrationForm, {attr: {novalidate: 'novalidate'}}) }}
        {{ form_widget(registrationForm) }}
        <button type="submit">Register</button>
        {{ form_end(registrationForm) }}
    </div>
{% endblock %}
