{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | Accueil{% endblock %}

{% block body %}
    <h1>Page d'accueil</h1>
    {# TODO: To list the trips with sorting option #}
{% endblock %}
