{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | Accueil{% endblock %}

{% block body %}
    <h1>BIENVENUE <span class="titre_second">À ENI ÉCOLE SORTIE </span></h1>

    {% if app.user %}
        {% include 'trip/list.html.twig' %}
    {% endif %}
    {# TODO: To list the trips with sorting option #}

{% endblock %}


