{% extends 'base.html.twig' %}

{% block title %}
    Créer une sortie | {{ parent() }}
{% endblock %}

{% block body %}
    <div>
        {{ form_start(tripForm) }}
        {{ form_widget(tripForm) }}
        <button>Créer</button>
        {{ form_end(tripForm) }}
    </div>
{% endblock %}

